<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %} Join Us !{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">  
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset( 'build/app.css' ) }}"/>       
    </head>
    {# {{ dump(app.token.roles[0])}} #}
    <body class="container-fluid">
            <!-- Navigation -->
            <div id="nav-full-width" class="navbar-fixed-top">
                <nav class="container navbar  navbar-expand-lg  navbar-light">
                        <a class="navbar-brand col-md-2" href="{{ path('homepage') }}"><h1>Join US ! </h1></a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse row col-md-10" id="navbarNav">
                            <ul class="navbar-nav row  col-md-12">
                                <li class="nav-item col-md-2">
                                    <a class="nav-link" href="/about"> A propos</a>
                                </li>
                                <li class="nav-item col-md-1">
                                    <a class="nav-link" href="/contact"> Contact</a>
                                </li>
                                {% if app.user %}
                                    {% if app.token.roles[0].role == "ROLE_ADMIN"%}
                                        <li class="nav-item col-md-2 offset-md-2"><a class="btn btn-info" href="{{ path('admin') }}"> Admin </a></li>
                                    {% else %}
                                        <li class="nav-item col-md-2 offset-md-2"></li>  
                                    {% endif %}                                 
                                    {% if app.request.uri != 'utilisateur_dashboard' %}
                                        <li class="nav-item col-md-2"><a class="btn btn-outline-secondary" href="{{ path('user_dashboard') }}"> Dashboard </a></li>
                                    {% endif %}
                                        </li class="nav-item col-md-2"><a class="btn btn-primary" href="{{ path('logout') }}"> Se deconnecter </a></li>
                                {% else %}
                                    <li class="nav-item col-md-2 offset-md-3"><a class="btn btn-outline-secondary" href="{{ path('fos_user_security_login') }}">Se Connecter</a></li>
                                    <li class="nav-item col-md-2"><a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}"> Creer un compte</a></li>
                                {% endif %}
                            </ul>
                        </div>
                </nav>
            </div>
  
            <main class="site_main container-fluid">
                {% block body %}      
                {% endblock %}
            </main>
            
            <!-- Footer -->
            <footer class="footer bg-dark container-fluid">
                <div class="container-fluid">
                    <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">A propos</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Politique de confidentialité</a>
                        </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Join Us 2018. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                        <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item mr-3">
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </footer>
  
        {% block javascripts %} 
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>         
            <script src ="{{ asset( 'build/build.js' ) }}"></script>  
        {% endblock %}
    </body>
</html>

