{% extends 'base.html.twig' %}

{% block body %}
  	{% for message in app.session.flashbag.get('delete') %}
 
			<div class="alert alert-success col-lg-6 offset-lg-4">
 
    			<p> {{ message }} </p>
     
			</div>
		{% endfor %}

    <!-- Masthead -->
    <header class="masthead text-white text-center container-fluid">
   
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1>Creer un compte et rejoignez les parties deja existantes !</h1>
        </div>
      </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center container-fluid">
      <div class="row">
        <div class="col-md-3 offset-md-1">
          <div class="features-icons-item">
            <div class="features-icons-icon ">
              <i class="fas fa-futbol" style="margin: 0 auto;"></i>
            </div>
            <h3> Choisi un sport</h3>
            <p class="lead"> Fait ton choix parmis de nombreux sports proposés !</p>
          </div>
        </div>
        <div class="col-md-3 offset-md-1">
          <div class="features-icons-item">
            <div class="features-icons-icon">
              <i class="far fa-clock" style="margin: 0 auto;"></i>
            </div>
            <h3> Fixe un rendez-vous</h3>
            <p class="lead"> Determine la date, le lieu et l'horaire de ta partie !</p>
          </div>
        </div>
        <div class="col-md-3 offset-md-1">
          <div class="features-icons-item ">
            <div class="features-icons-icon">
              <i class="fas fa-list" style="margin: 0 auto;"></i>
            </div>
            <h3> Listes de tes parties</h3>
            <p class="lead"> Retrouve l'ensemble de tes parties !</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center container-fluid">
      <h2 class="title-testimonials">Ce que les gens en pensent :</h2>
      <div class="row">
        <div class="col-md-3 offset-md-2">
          <div class="testimonial-item">
            <div class="features-icons-item">
              <img class="img-fluid rounded-circle" src="{{ asset('images/testimonials-1.jpg')}}">
              <h5> Marie </h5>
              <p class="font-weight-light">"C'est fantastique ! Merci pour cette idée de genie !"</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="testimonial-item">
            <div class="features-icons-item">
              <img class="img-fluid rounded-circle" src="{{ asset('images/testimonials-2.jpg')}}">
              <h5> Jean</h5>
              <p class="font-weight-light">"Je peux creer une partie à n'importe quel moment ! C'est super !"</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="testimonial-item">
            <div class="features-icons-item">
              <img class="img-fluid rounded-circle" src="{{ asset('images/testimonials-3.jpg')}}">
              <h5> Julie </h5>
              <p class="font-weight-light">"C'est l'occasion de rencontrer d'autres personnes tout en s'amusant !"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white container-fluid text-center">
        <div class="row">
          <div class="col-md-4 offset-md-4">
            <h2>Es tu prêt ? Inscris toi vite ! </h2>
          </div>
          <div class="col-md-2 offset-md-5">
            <form>
              <div class="form-row">
                <div class="col-md-4 offset-md-3">
                  <a class="btn btn-primary" href="{{ path('utilisateur_new') }}"> Creer un compte</a>
                </div>
              </div>
            </form>
          </div>
        </div>

    </section>


{% endblock %}


