{% extends 'base.html.twig' %}



{% block body %}


<div class="row">
    <div class="col-sm-8 offset-sm-2 new">
        <h1 class="text-center">Creer une partie</h1>
        <div class="well col-md-12">
            {{ form_start(form ,{'attr': {'class': 'form-horizontal col-lg-10'}}) }}

            <div class="form-group">

                {# Génération du label. #}
                {{ form_label(form.adresse, "Lieu de la partie", {'label_attr': {'class': 'col-sm-6 control-label'}}) }}
                {# Génération de l'erreur  #}
                
                <div class="col-sm-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.adresse, {'attr': {'class': 'form_error'}}) }}
                </div>

                {# Génération du label. #}
                {{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {# Génération de l'erreur  #}
                
                <div class="col-sm-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.ville, {'attr': {'class': 'form_error'}}) }}
                </div>


                {# Génération du label. #}
                {{ form_label(form.date, "Date", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {# Génération de l'erreur  #}
                
                <div class="col-sm-12">        
                    {# Génération de l'input. #}
                    {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.date, {'attr': {'class': 'form_error'}}) }}
                </div>

                {# Génération du label. #}
                {{ form_label(form.horaire, "Horaire", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {# Génération de l'erreur  #}
                
                <div class="col-sm-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.horaire, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.horaire, {'attr': {'class': 'form_error'}}) }}
                </div>

                {# Génération du label. #}
                {{ form_label(form.totalJoueurs, "Total joueurs", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                {# Génération de l'erreur  #}
            
                <div class="col-sm-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.totalJoueurs, {'attr': {'class': 'form-control', 'min': 2}}) }}
                    {{ form_errors(form.totalJoueurs, {'attr': {'class': 'form_error'}}) }}
                </div>

                {# Génération du label. #}
                {{ form_label(form.sport, "Sport", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {# Génération de l'erreur  #}
                
                <div class="col-sm-12">
                    {# Génération de l'input. #}
                    {{ form_widget(form.sport, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.sport, {'attr': {'class': 'form_error'}}) }}
                </div>

            {# {{ form_rest(form) }} #}
            </div>
            {{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}

            {{ form_end(form) }}
        </div>
        
    </div>
</div>

   
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

        <script>
            jQuery(document).ready(function() {
                $('.js-datepicker').datepicker();
            });
        </script>   
{% endblock %}
