{% extends 'base.html.twig' %}

{% block body %}

    {# {{ dump( partie.utilisateurs ) }} #}

    {# {{ dump(message) }} #}

    {# {{ partie.utilisateurs }} #}
 
    {# {{ dump( utilisateur )}}  #}



    {# {{ dump( utilisateurs ) }} #}
     
     {# {% for utilisateur in utilisateurs %}
        <p> {{ utilisateur.nom }} </p>
    {% endfor %}  #}


    <h2 class="text-center">Partie</h2>
    <div class='container'> 
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th> Organisateur </th>
                    <td>{{ partie.organisateur.prenom }}</td>
                </tr>
                <tr>
                    <th> Sport </th>
                    <td>{{ partie.sport.libelle}}</td>
                </tr>
                <tr>
                    <th> Lieu de la partie</th>
                    <td>{{ partie.adresse }} - {{ partie.ville }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{% if partie.date %}{{ partie.date|date('d/m/y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Horaire</th>
                    <td>{% if partie.horaire %}{{ partie.horaire.date|date('H:i') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Total joueurs</th>
                    <td>{{ partie.totalJoueurs }}</td>
                </tr>
                <tr>
                    <th> Liste des participants </th>
                    <td>
                        <ul class="users">
                            {% for user in partie.utilisateurs %}
                                 <li class="user">
                                        <img class="avatar_partie" src="{{ asset('uploads/img/' ~ user.avatar.id  ~ '.' ~ user.avatar.url ) }}" class="mx-auto d-block" alt="">
                                        {{ user.username}}
                                </li>
                            {% endfor %}
                        </ul>                 
                    </td>
                </tr>

                



            </tbody>
        </table>
        {% if  organisateur %}
                {{ form_start(deleteForm) }}
                    <input type="submit" value="Supprimer la partie" class="btn btn-danger">
                {{ form_end(deleteForm) }}
        {% else %}
              {% if  isOnParty %}
                {{ form_start(formJoinParty , {'attr': {'id': 'joinParty'}}) }}
                    {{ form_widget(formJoinParty.join, {'attr': {'class': 'join btn btn-primary' }}) }} 
                {{ form_end(formJoinParty) }}
            {% else %}
                {{ form_start(formQuitParty, {'attr': {'id': 'quitParty'}}) }}
                    {{ form_widget(formQuitParty.quit, {'attr': {'class': 'quit btn btn-danger'}}) }}        
                {{ form_end(formQuitParty) }}
            {% endif %}
        {% endif %}


        {# <ul>
            <li>
                <a href="{{ path('partie_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('partie_edit', { 'id': partie.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul> #}

    </div>
{% endblock %}
