{% extends 'base.html.twig' %}

{% block body %}

    {{ dump( partie ) }}

    {# {{ partie.utilisateurs }} #}
{# 
    {{ dump( utilisateur )}} #} 


{# 
    {{ partie.utilisateurs }} #}
     
    {% for user in partie.utilisateurs %}
        <li>{{ user.pseudo}}</li>
    {% endfor %}

    <h2 class="text-center">Partie</h2>
    <div class='container'> 
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th> Organisateur </th>
                    <td>{{ partie.organisateur.prenom }}</td>
                </tr>
                <tr>
                    <th> Lieu de la partie</th>
                    <td>{{ partie.adresse }} - {{ partie.ville }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{% if partie.date %}{{ partie.date|date('d/m/y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Horaire</th>
                    <td>{% if partie.horaire %}{{ partie.horaire.date|date('H:i') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Joueursactif</th>
                    <td>{{ partie.joueursActif }}</td>
                </tr>
                <tr>
                    <th>Totaljoueurs</th>
                    <td>{{ partie.totalJoueurs }}</td>
                </tr>
            </tbody>
        </table>

        {# {% if partie.organisateur.id != utilisateur.id %}
            <input type="submit" value="Rejoindre la partie" class="btn btn-primary"> 
        {% endif %} #}
        {% if partie.organisateur.id != utilisateur.id %}
            {{ form_start(form) }}
            {# {{ form_label(form.ville , "Ville", {'label_attr': {'class': 'col-sm-10 control-label'}}) }} #}
            {{ form_widget(form.join, {'attr': {'class': 'btn btn-primary'}}) }}
        
            {{ form_end(form) }}
        {% endif %}


        {# <ul>
            <li>
                <a href="{{ path('partie_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('partie_edit', { 'id': partie.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul> #}

    </div>
{% endblock %}
