{% extends 'base.html.twig' %}

{% block body %}
{# 
    {{ dump( partie ) }} #}
{# 
    {{ partie.utilisateurs }} #}

    {# {% for user in utilisateurs %}
        <li>{{ user.username }}</li>
    {% endfor %} #}
    <h2 class="text-center">Partie</h2>
    <div class='container'> 
        <table class="table table-bordered">
            <tbody>
                {# <tr>
                    <th>Id</th>
                    <td>{{ partie.id }}</td>
                </tr> #}
                <tr>
                    <th> Lieu de la partie</th>
                    <td>{{ partie.adresse }}</td>
                </tr>
                <tr>
                    <th>Date</th>
                    <td>{% if partie.date %}{{ partie.date|date('d/m/y') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Horaire</th>
                    <td>{% if partie.horaire %}{{ partie.horaire.date|date('H:i') }}{% endif %}</td>
                </tr>
                {# <tr>
                    <th>Termine</th>
                    <td>{% if partie.termine %}Yes{% else %}No{% endif %}</td>
                </tr> #}
                <tr>
                    <th>Joueursactif</th>
                    <td>{{ partie.joueursActif }}</td>
                </tr>
                <tr>
                    <th>Totaljoueurs</th>
                    <td>{{ partie.totalJoueurs }}</td>
                </tr>
            </tbody>
        </table>

        <form>
            <input type="submit" value="Rejoindre la partie" class="btn btn-primary"> 
        </form>


        {# <ul>
            <li>
                <a href="{{ path('partie_index') }}">Back to the list</a>
            </li>
            <li>
                <a href="{{ path('partie_edit', { 'id': partie.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul> #}

    </div>
{% endblock %}
