{% extends 'base.html.twig' %}


{% block body %}



    <h1 class="text-center"> Parties de football </h1>
    <br><br>
    {% if parties %}
    <div class="container">
        <div class="row row_parties">
            {% for partie in parties %}
            <div class="col-sm-3 offset-sm-1 party">
                <div class="row">
                    <div class="col-sm-12 header_party">
                        <p>Organisateur de la partie : {{ partie.organisateur.username }} </p>
                    </div>
                </div>
                <p>Adresse : {{ partie.adresse }} </p>
                <p>Ville :  {{ partie.ville }} </p>
                <p>Date : {{ partie.date.date|date("d/m/Y") }} </p>
                <p>Horaire : {{ partie.horaire.date|date("H:i") }} </p>
                <a href="{{ path('partie_show', { 'id': partie.id }) }}"> Voir la partie </a>
            </div>
            {% endfor %}
        </div>
        <br> <br>
        {% else %}
            <h3 class="text-center"> Aucune partie n'a été encore créée pour ce sport ! </h3>
            <p class="text-center"> <a href="{{ path('partie_new') }}"> Voulez-vous créer une partie ? </a> </p>
        {% endif %}
      
    </div>

{% endblock %}
