{% extends 'base.html.twig' %}

{% block body %}

{# Booléen pour savoir si le joueur est dans la partie #}
<input type="hidden" id="isOnParty" value="{{isOnParty}}"/>

    <div class='container '>
       
        <div class="card party {{ partie.sport.libelle }} col-lg-6 offset-lg-3">  
            <h1 class="text-center"> Informations sur la partie </h1>            
            <div class="card-body">
                <h2 class="text-center">  {{ partie.sport.libelle  | capitalize }} </h2>
                <p class="font-weight-bold">Organisateur de la partie : </p>
                <p> {{ partie.organisateur.username | capitalize }} </p>
                <p class="font-weight-bold">Adresse : </p>
                <p> {{ partie.adresse }} </p>
                <p class="font-weight-bold">Ville : </p> 
                <p> {{ partie.ville }} </p>
                <p class="font-weight-bold">Date : </p> 
                <p> {{ partie.date.date|date("d/m/Y") }} </p>
                <p class="font-weight-bold">Horaire : </p> 
                <p> {{ partie.horaire.date|date("H:i") }} </p>
                <div class="user_in_party">
                    <p class="font-weight-bold"> Participants : </p>
                    <ul class="users">
                        {% for user in partie.utilisateurs %}
                            <li class="user">
                                <img class="avatar_partie" src="{{ asset('uploads/avatars/' ~ user.url ) }}" class="mx-auto d-block" alt="">
                                {{ user.username | capitalize }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        
        <div class="col-lg-10 offset-lg-3 button-party">
            <div class="row">
                {% if  organisateur %}
                    {{ form_start(deleteForm  , {'attr': {'class': 'offset-lg-2'}}) }}
                        <input type="submit" value="Supprimer la partie" class="btn btn-danger">
                    {{ form_end(deleteForm) }}
                {% else %}            
                    {{ form_start(formParty , {'attr': {'id': 'joinParty', 'class': 'offset-lg-2'}}) }}               
                        {% if  isOnParty %}
                            {{ form_widget(formParty.submit, {'attr': {'class': 'join btn btn-danger', 'value': 'Quitter la partie'}}) }} 
                        {% else %}
                            {{ form_widget(formParty.submit, {'attr': {'class': 'join btn btn-primary'}}) }} 
                        {% endif %}
                    {{ form_end(formParty) }}
                {% endif %}
            </div>
        </div>


    </div>
{% endblock %}
