{% extends "base.html.twig" %}


{% block body %}


<div class="container">
	
	{#  Message confirmant la connexion au site  #}
    {% for notice  in app.session.flashbag.get('notice') %}   
		<div class="alert alert-success" role="alert">
			{{ notice }}
		</div>
    {% endfor %}

    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="{{ asset('uploads/img/' ~ user_connect.avatar.id  ~ '.' ~ user_connect.avatar.url ) }}" class="mx-auto d-block" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<p> Bienvenue {{ user_connect.prenom | capitalize }}  !</p>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				{# Lien vers la liste des utilisateurs seulement pour les admins #}
				<div class="profile-userbuttons">
					{% if  role  == 1  %}
    					<a href="{{ path('utilisateur_index') }}"> Liste des utilisateurs  </a> <br>
					{% endif %}
					<a href="{{ path('partie_new') }}"> Creer une partie </a> </br>
					<a href="{{ path('utilisateur_edit', { 'id':user_connect.id } ) }}" > Editer mon compte</a> <br>
					<a href="{{ path('utilisateur_logout') }}"> Se deconnecter</a> <br>
					
				</div>
				<!-- END SIDEBAR BUTTONS -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
				<div class="row">
					<div class='col-md-12 text-center'> 
					<h2> Mes parties </h2>
					</div> 

				</div>
			    {% for partie in user_connect.parties %}
        			{# <li>{{ partie.id}}</li> #}
					{# {{ dump(partie)}} #}
					<li> <a href="{{ path('partie_show', { 'id': partie.id }) }}"> Partie n° {{ partie.id }} </a>
					<p> Adresse : {{ partie.adresse }} </p>
					<p> Date de la partie : {{ partie.date.date|date("d/m/Y") }} </p>
					<p> Sport : {{ partie.sport.libelle }} </p>
					<p> Ville : {{ partie.ville }} </p>
					
					<hr>
				{% endfor %}


				
            </div>
		</div>
	</div> 

	<p>

      {# On affiche tous les messages flash dont le nom est « info » #}

      {% for message in app.session.flashbag.get('info') %}

        <p> {{ message }}</p>

      {% endfor %}

    </p>

{% endblock %}


