{% extends "base.html.twig" %}


{% block body %}


<div class="container">
	
	{#  Message confirmant la connexion au site  #}
    {% for notice  in app.session.flashbag.get('notice') %}   
		<div class="alert alert-success" role="alert">
			{{ notice }}
		</div>
    {% endfor %}

    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="{{ asset('uploads/img/' ~ user_connect.avatar.id  ~ '.' ~ user_connect.avatar.url ) }}" class="mx-auto d-block" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<p> Bienvenue {{ user_connect.prenom | capitalize }}  !</p>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				{# Lien vers la liste des utilisateurs seulement pour les admins #}
				<div class="profile-userbuttons">
					{% if  role  == 1  %}
    					<a href="{{ path('utilisateur_index') }}"> Liste des utilisateurs  </a> <br>
					{% endif %}
					<a href="{{ path('utilisateur_edit', { 'id':user_connect.id } ) }}" > Editer mon compte</a> <br>
					<a href="{{ path('utilisateur_logout') }}"> Se deconnecter</a>
				</div>
				<!-- END SIDEBAR BUTTONS -->
				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Home </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Mes parties </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							Creer une partie </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9">
            <div class="profile-content">
				<div class="row">
					<div class='col-md-12 text-center'> 
					<h2> Mes parties </h2>
					</div> 

				</div>
			    {% for partie in user_connect.parties %}
        			<li>{{ partie.id }}</li>
    			{% endfor %}
            </div>
		</div>
	</div> 

	<p>

      {# On affiche tous les messages flash dont le nom est « info » #}

      {% for message in app.session.flashbag.get('info') %}

        <p> {{ message }}</p>

      {% endfor %}

    </p>

{% endblock %}


