{% extends "base.html.twig" %}


{% block body %}

<div class="container dashboard">

    <div class="row profile">
		<div class="col-12 col-md-3 ">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="{{ asset('uploads/img/' ~ app.user.avatar.id  ~ '.' ~ app.user.avatar.url ) }}" class="img-fluid profile_pic" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<p> Bienvenue {{ app.user.prenom | capitalize }}  !</p>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
				<!-- SIDEBAR BUTTONS -->
				{# Lien vers la liste des utilisateurs seulement pour les admins #}
				<div class="profile-userbuttons">
					{# {% if  role  == 1  %}
    					<a href="{{ path('utilisateur_index') }}"> Liste des utilisateurs  </a> <br>
					{% endif %} #}
					{% if is_granted('ROLE_ADMIN') %}
						<a href="{{ path('utilisateur_index') }}"> Liste des utilisateurs  </a> </br>
					{% endif %}	

					<a href="{{ path('partie_new') }}"> Creer une partie </a> </br>
					<a href="{{ path('utilisateur_edit', { 'id':app.user.id } ) }}" > Editer mon compte</a> <br>
					<a href="{{ path('edit_avatar', { 'id':app.user.id } ) }}" > Changer d'avatar </a> <br>
					<a href="{{ path('logout') }}"> Se deconnecter</a> <br>
					
				</div>
				<!-- END SIDEBAR BUTTONS -->
			</div>
		</div>
		<div class="col-md-9 col-12">
			<div class="sports">
				<h2 class="text-center"> Sports </h2>
				<p> Choisissez un sport pour voir les parties disponibles :  </p>
					<ul class="row sports_cat col-md-12">							
						{% for sport in sports %}
							<li class="col-9 offset-1 col-md-2  sports_dashboard text-center">
								<a href="{{path('partie_' ~ sport.libelle ~ '')}}" class="sports_libelle r">  {{ sport.libelle|capitalize}}</a>
							</li>
						{% endfor %}
					</ul>
            </div>
            <div class="profile-content">
				<div class="row">
					<div class='col-md-12 text-center'> 
					<h2> Mes parties </h2>
					</div> 

				</div>
			    {% for partie in app.user.parties %}
					<hr>
					<li><h4> <a href="{{ path('partie_show', { 'id': partie.id }) }}"> Partie n° {{ partie.id }} </a> </h4>
					<p> Organisateur : {{ partie.organisateur.username }} </p>
					<p> Adresse : {{ partie.adresse }} </p>
					<p> Date de la partie : {{ partie.date.date|date("d/m/Y") }} </p>
					<p> Horaire de la partie : {{ partie.horaire.date|date("H:i") }} </p>
					<p> Sport : {{ partie.sport.libelle }} </p>
					<p> Ville : {{ partie.ville }} </p>				
					<hr>
				{% endfor %}


				
            </div>
		</div>
	</div> 
</div>
{% endblock %}


