{% extends 'base.html.twig' %}

{% block body %}

<div class="container"> 
     <h2 class="text-center"> Modifier votre compte </h2>
    <div class="well col-md-6 offset-md-4">
        {{ form_start(edit_form ,{'attr': {'class': 'form-horizontal col-lg-10'}}) }}

        <div class="form-group">

            {# Génération du label. #}
            {{ form_label(edit_form.nom, "Nom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {# Génération de l'erreur  #}
            
            <div class="col-sm-12">
                {# Génération de l'input. #}
                {{ form_widget(edit_form.nom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(edit_form.nom, {'attr': {'class': 'form_error'}}) }}
            </div>

            {# Génération du label. #}
            {{ form_label(edit_form.prenom, "Prenom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {# Génération de l'erreur  #}
            
            <div class="col-sm-12">
                {# Génération de l'input. #}
                {{ form_widget(edit_form.prenom, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(edit_form.prenom, {'attr': {'class': 'form_error'}}) }}
            </div>


            {# Génération du label. #}
            {{ form_label(edit_form.mail, "Mail", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {# Génération de l'erreur  #}
            
            <div class="col-sm-12">        
                {# Génération de l'input. #}
                {{ form_widget(edit_form.mail, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(edit_form.mail, {'attr': {'class': 'form_error'}}) }}
            </div>

            {# Génération du label. #}
            {{ form_label(edit_form.username, "Pseudo", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {# Génération de l'erreur  #}
            
            <div class="col-sm-12">
                {# Génération de l'input. #}
                {{ form_widget(edit_form.username, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(edit_form.username, {'attr': {'class': 'form_error'}}) }}
            </div>


            {# Génération du label. #}
            {{ form_label(edit_form.ville, "Ville", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
            {# Génération de l'erreur  #}
            
            <div class="col-sm-12">
                {# Génération de l'input. #}
                {{ form_widget(edit_form.ville, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(edit_form.ville, {'attr': {'class': 'form_error'}}) }}
            </div>


            {# Génération du label. #}
            {# {{ form_label(form.avatar, "Avatar", {'label_attr': {'class': 'col-sm-2 control-label'}}) }} #}
            {# Génération de l'erreur  #}
            {{ form_errors(edit_form.avatar) }}
            <div class="col-sm-12">
                {# Génération de l'input. #}
                {{ form_widget(edit_form.avatar) }}
            </div>


           {# {{ form_rest(form) }} #}
        </div>
        {{ form_widget(edit_form.valider, {'attr': {'class': 'btn btn-primary'}}) }}

        {{ form_end(edit_form) }}
    </div>


</div>

 <p class="col-lg-12 text-center"><a href="{{ path('utilisateur_new') }}"> Retour au dashboard  </a> </p>
{% endblock %}
