{% extends 'base.html.twig' %}

{% block body %}
<div class="bg-new">
    <div class="row">
        <div class="col-lg-6 offset-lg-3 new">
            <h1 class="text-center">Creer un compte</h1>
            <div class="well col-md-12">
                {{ form_start(form ,{'attr': {'class': 'form-horizontal col-lg-10'}}) }}

                <div class="form-group">

                    {# Génération du label. #}
                    {{ form_label(form.nom, "Nom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {# Génération de l'erreur  #}
                    
                    <div class="col-sm-12">
                        {# Génération de l'input. #}
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.nom) }}
                    </div>

                    {# Génération du label. #}
                    {{ form_label(form.prenom, "Prenom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {# Génération de l'erreur  #}
                    
                    <div class="col-sm-12">
                        {# Génération de l'input. #}
                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.prenom) }}
                    </div>


                    {# Génération du label. #}
                    {{ form_label(form.mail, "Mail", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {# Génération de l'erreur  #}
                    
                    <div class="col-sm-12">        
                        {# Génération de l'input. #}
                        {{ form_widget(form.mail, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.mail) }}
                    </div>

                    {# Génération du label. #}
                    {{ form_label(form.pseudo, "Pseudo", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {# Génération de l'erreur  #}
                    
                    <div class="col-sm-12">
                        {# Génération de l'input. #}
                        {{ form_widget(form.pseudo, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.pseudo) }}
                    </div>

                    {# Génération du label. #}
                    {{ form_label(form.mdp, "Mot de passe", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                    {# Génération de l'erreur  #}
                
                    <div class="col-sm-12">
                        {# Génération de l'input. #}
                        {{ form_widget(form.mdp, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.mdp) }}
                    </div>

                    {# Génération du label. #}
                    {{ form_label(form.ville, "Ville", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                    {# Génération de l'erreur  #}
                    
                    <div class="col-sm-12">
                        {# Génération de l'input. #}
                        {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
                        {{ form_errors(form.ville) }}
                    </div>


                    {# Génération du label. #}
                    {# {{ form_label(form.avatar, "Avatar", {'label_attr': {'class': 'col-sm-2 control-label'}}) }} #}
                    {# Génération de l'erreur  #}
                    {{ form_errors(form.avatar) }}
                    <div class="col-sm-12">
                        {# Génération de l'input. #}
                        {{ form_widget(form.avatar) }}
                    </div>


                {# {{ form_rest(form) }} #}
                </div>
                {{ form_widget(form.valider, {'attr': {'class': 'btn btn-primary'}}) }}

                {{ form_widget(form.role, { 'attr': {'class': 'hidden-row'} }) }}

                {{ form_end(form) }}
            </div>
            <p class="col-lg-12 text-center"><a href="{{ path('utilisateur_new') }}">Se connecter</a> </p>
        </div>
    </div>
</div>
{% endblock %}
