{% extends 'base.html.twig' %}

{% block body %}

    <div class="container admin">
        <div class="row">
            <div class="col-lg-3 text-center admin_link" style="height:70vh ; background-color:white;">
                <h3> Liens utiles </h3>
                <hr>
                <ul>
                    <li><a href="{{ path('admin_message') }}"> Messages reçus </a></li>
                    <li><a href="{{ path('admin_users')}}"> Liste des utilisateurs </a></li>
                </ul>       
            </div>
            <div class="col-lg-8 offset-lg-1" style="height:70vh ; background-color:white;">
                <div class="row admin_tab">
                    <h2 class="text-center col-lg-12"> Bienvenue dans la partie administration </h2>
                    <hr class="col-lg-12">
                    <p class="text-center col-lg-12 key_infos_heading" > Chiffres clés </p>
                    <hr>
                    <div class="col-lg-3 key_infos text-center">
                        <p> Nombre de joueurs inscrits :</p>
                        <p>  {{ number_of_users }} </p>
                    </div>
                    <div class="col-lg-3 offset-lg-1 key_infos text-center">
                        <p> Nombre de parties créées : </p>
                        <p>  {{ number_of_parties }} </p>
                    </div> 
                    <div class="col-lg-3 offset-lg-1 key_infos text-center">
                        <p> Nombre de messages reçus : </p>
                        <p>  {{ contacts| length }} </p>
                    </div>
                </div>               
            </div>
        </div>            
    </div>


{% endblock %}
