{% extends 'base.html.twig' %}

{% block body %}

    <div class="container admin">


        <h1 class="text-center"> Partie administration </h1>

        {# <div class="col-lg-6 text-center" style="height: 300px">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Avatar</th>
                        <th>Nom d'utilisateur</th>
                        <th>Mail</th>
                        <th>Ville</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td><img class="avatar_party" src="{{ asset('uploads/avatars/' ~ user.url ) }}" class="mx-auto d-block" alt=""></td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.city.name }}</td>                     
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div> #}

        <div class="row">
            <h2 class="text-center col-lg-12"> Chiffres clés </h2>
            <div class="col-lg-3 key_infos text-center">
                <p> Nombre de joueurs inscrits :</p>
                <p>  {{ number_of_users }} </p>
            </div>
            <div class="col-lg-3 offset-lg-1 key_infos text-center">
                <p> Nombre de parties créées : </p>
                <p>  {{ number_of_parties }} </p>
            </div>
            <div class="col-lg-3 offset-lg-1"></div>
        </div>



    </div>
{% endblock %}
