{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">


        <h1 class="text-center">Listes des users </h1>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Pseudo</th>
                    <th>Mail</th>
                    <th>Ville</th>
                    <th>Avatar</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    {# <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.mail }}</td>
                    <td>{{ user.ville.libelle }}</td>
                    <td><img class="avatar_partie" src="{{ asset('uploads/img/' ~ user.avatar.id  ~ '.' ~ user.avatar.url ) }}" class="mx-auto d-block" alt=""></td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td> #}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
